<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <p id="versionBuildTime" class="navbar-text pull-left">
            Version: {{version}} Build: {{buildTime}}</p>

        <p id="generationDate" class="navbar-text pull-right">Page generated
            at {{generationDate}} </p>
    </div>
</div>

<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

</body>
</html>
