{{> header }}

<div class="container">
    <h2>Log files:</h2>

    <div class="row">
        <div class="panel">
            <div class="panel-body">
                {{#logs}}
                    <a href="/showLog/{{.}}">{{.}}</a><br/>
                {{/logs}}
                <br> <br> <br>
            </div>
        </div>
    </div>
</div>

{{> footer }}
