<html>
<head>
    <title>Speech synthesis status</title>
    <link rel="stylesheet" type="text/css" href="assets/main.css">
</head>
<body>

<h1>Server status</h1>

</body>
<footer>
    <p id="generationDate">Page generated: {{generationDate}}</p>
</footer>
</html>
